* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    font-family: 'Jaldi', sans-serif;
}

.calc-body {
    position: relative;
    background-color: #579BB1;
    border-radius: 20px;
    overflow: hidden;
}

.toggle-mode {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 3;
    color: black;
    background-color: #16262E;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.toggle-mode.active {
    background-color: #579BB1;
}

.title {
    position: relative;
    padding: 8px 0 6px 15px;
    width: 150px;
    height: 60px;
    font-size: 17px;
    text-transform: uppercase;
    color: #FCF7F8;
    z-index: 3;
}

.circle {
    position: absolute;
    top: -65px;
    right: -45px;
    width: 490px;
    height: 360px;
    border-radius: 50%;
    background-color: #2E809A;
    filter: blur(30px);
}


.display {
    background-color: #ABA9C3;
    position: relative;
    width: 400px;
    height: 230px;
    color: #FCF7F8;
    z-index: 3;
    font-size: 8rem;
    padding: 30px 10px 0 0;
    text-align: right;
}

table{
    width: 100%;
}

td {
    width: 85px;
    height: 60px;
    background-color: #E1D7C6;
    color: #5B616A;
    text-align: center;
    font-size: 3.6rem;
    cursor: pointer;
}

.bottom td:first-child{
    border-radius: 0 0 0 18px;
}

.equal {
    border-radius: 0 0 18px 0;
}

.operator, .number:hover{
    background-color: #c3bbae;;
}
.main,
.equal {
    background-color: #ABA9C3;
    color: #FCF7F8;
}
